@font-face {
    font-family: 'TWKEverett';
    src: url('fonts/TWKEverett-Medium.woff') format('woff'),
         url('fonts/TWKEverett-Medium.ttf') format('truetype');
    font-weight: 500;
    /* Font TWKEverett Medium incluso nei formati woff e ttf */
}

@font-face {
    font-family: 'TWKEverettRegular';
    src: url('fonts/TWKEverett-Regular.woff') format('woff'),
         url('fonts/TWKEverett-Regular.ttf') format('truetype');
    font-weight: 400;
    /* Font TWKEverett Regular incluso nei formati woff e ttf */
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #1a1a1a;
    scroll-snap-type: y mandatory;
    /* Impostazioni di base per il corpo e l'html, inclusa la sincronizzazione dello scroll */
}

.screen {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'TWKEverett', sans-serif;
    flex-direction: column;
    position: relative;
    /* Stile della schermata principale con font TWKEverett */
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    padding: 0 15px;
    scroll-padding: 0 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Stile per la barra di scorrimento orizzontale */
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
    /* Nasconde la barra di scorrimento in Chrome, Safari e Opera */
}

.card {
    background: #00000000;
    border-radius: 0.6rem;
    margin: 2.25rem;
    width: 275px;
    height: 389px;
    cursor: pointer;
    flex: 0 0 auto;
    scroll-snap-align: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    position: relative;
    /* Stile delle card */
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    /* Stile delle immagini nelle card */
}

.title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
    color: #333;
    text-transform: uppercase;
    /* Stile del titolo delle card */
}

.header-text {
    position: absolute;
    top: 10px;
    left: 22px;
    font-family: 'TWKEverett', sans-serif;
    font-size: 28pt;
    color: #ffffff;
    line-height: 0.4; /* Imposta l'altezza della linea per ridurre lo spazio tra le righe */
    text-align: left; /* Allinea il testo a sinistra */
    text-transform: uppercase;
    /* Stile del testo dell'intestazione */
}

.scroll-indicator {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    /* Stile per l'indicatore di scorrimento */
}

.scroll-indicator .dot {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 0.6rem;
    transition: width 0.3s, height 0.3s;
    /* Stile dei puntini dell'indicatore di scorrimento */
}

.scroll-indicator .dot.active {
    width: 60px;
    height: 4px;
    border-radius: 0.6rem;
    /* Stile dei puntini attivi dell'indicatore di scorrimento */
}

.footer-text {
    font-family: 'TWKEverettRegular', sans-serif;
    font-size: 13pt;
    line-height: 1.2; /* Imposta l'altezza della linea per ridurre lo spazio tra le righe */
    color: #ffffff;
    position: absolute;
    bottom: 15px;
    left: 22.5px;
    right: 34px;
    text-transform: uppercase;
    text-align: left; /* Allinea il testo a sinistra */
    /* Stile del testo del footer */
}