@font-face {
    font-family: 'TWK Everest';
    src: url('path/to/TWKEverest-Medium.woff2') format('woff2'),
         url('path/to/TWKEverest-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #1a1a1a; /* Nero meno intenso */
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    position: relative;
    scroll-snap-align: start;
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
    padding: 0 15px;
    scroll-padding: 0 15px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.card-container {
    padding: 0 10px;
    box-sizing: border-box;
}

.card {
    background: #00000000;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
    border-radius: 0.6rem;
    width: 80vw; /* Usa viewport width per la reattività */
    max-width: 275px; /* Imposta una larghezza massima */
    height: auto;
    cursor: pointer;
    flex: 0 0 auto;
    scroll-snap-align: center;
    text-align: center;
    text-decoration: none;
    color: inherit;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 1rem auto;
    color: #333;
    text-transform: uppercase;
}

.header-text {
    font-family: 'TWK Everest', sans-serif;
    font-size: 6vw; /* Usa viewport width per la reattività */
    color: #ffffff;
    line-height: 1.2;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 5%;
}

.scroll-indicator {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.scroll-indicator .dot {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
}

.scroll-indicator .dot.active {
    width: 60px;
    height: 4px;
    border-radius: 10px;
}

.footer-text {
    font-family: 'TWK Everest', sans-serif;
    font-size: 4vw; /* Usa viewport width per la reattività */
    color: #ffffff;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    text-align: left;
    text-transform: uppercase;
}