@font-face {
    font-family: 'TWK Everest';
    src: url('path/to/TWKEverest-Medium.woff2') format('woff2'),
         url('path/to/TWKEverest-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #1a1a1a; /* Nero meno intenso */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif; /* Cambia questo valore per cambiare il font */
    position: relative; /* Necessario per posizionare il pulsante assolutamente rispetto al body */
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%; /* Aumenta la larghezza al 100% */
    padding: 0 15px;
    scroll-padding: 0 15px;
    -ms-overflow-style: none;  /* Nasconde la barra di scorrimento in Internet Explorer e Edge */
    scrollbar-width: none;  /* Nasconde la barra di scorrimento in Firefox */
}

.horizontal-scroll::-webkit-scrollbar {
    display: none; /* Nasconde la barra di scorrimento in Chrome, Safari e Opera */
}

.flip-card {
    background-color: transparent;
    width: 275px; /* Larghezza */
    height: 389px; /* Altezza */
    perspective: 1000px;
    font-family: inherit;
    position: relative;
    margin: 2.2rem; /* Margine */
    flex: 0 0 auto;
    scroll-snap-align: center;
    overflow: hidden; /* Assicurati di avere questa proprietà */
}

.flip-card-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.6rem; /* Border radius */
    overflow: hidden; /* Assicurati di avere questa proprietà */
}

.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%, rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%, bisque 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-front img, .flip-card-back img {
    width: 101%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.6rem;
    margin-top: 101px;
}

#flip-toggle1:checked ~ .flip-card-inner {
    transform: rotateY(180deg);
}

#flip-toggle2:checked ~ .flip-card-inner {
    transform: rotateY(180deg);
}

#flip-toggle3:checked ~ .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-label {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.choose-button {
    position: absolute;
    bottom: 20px;
    right: 34px;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    padding: 10px 10px;
    border-radius: 0.6rem; /* Border radius */
    cursor: pointer;
    font-family: inherit; /* Inherit font from parent */
    font-size: 14.26pt;
    text-decoration: none; /* Remove underline */
}

.back-button {
    position: absolute;
    bottom: 15px; /* Posizione verticale */
    left: 20px; /* Posizione orizzontale */
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: 'TWK Everest', sans-serif;
}

.back-button svg {
    width: 50px; /* Dimensione della freccia */
    height: 50px; /* Dimensione della freccia */
    fill: #fff; /* Colore della freccia */
}

.header-text {
    position: absolute;
    top: 10px;
    left: 34px;
    font-family: 'TWK Everest', sans-serif;
    font-size: 28pt;
    color: #ffffff;
    line-height: 0.2;
    text-align: left;
    text-transform: uppercase;
}

.scroll-indicator {
    position: absolute;
    bottom: 130px; /* Distanza dal fondo della pagina */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.scroll-indicator .dot {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
}

.scroll-indicator .dot.active {
    width: 60px;
    height: 4px;
    border-radius: 10px;
}